body{
	margin: 0;
	padding: 0;
	background-color: darkgreen;
	line-height: 1.5rem;
}
main .cards{
	padding: 3rem;
	--width: 73px;
	--height: 95px;
}
main img{
	width: calc(var(--width)*3.5);
	height: calc(var(--height)*3.5);
}

.newCards{
	font-size: 2rem;
	border-radius: .3rem;
	padding: .5rem;
	position: fixed;
	top: 2rem;
	right: 3rem;
}
.newCards:hover{
	color: white;
	background-color: #4c40c1;
	box-shadow: 2px 2px 3px black;
}
.newCards:active{
	color: white;
	background-color: #610f0f;
	box-shadow: 1px 1px 1px black;
}
.msg{
	font-size: 4rem;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 2px black;
}
.red{
	color: red;
}